![Imgur](https://i.imgur.com/h4PPC71.png)
#11-modul. Maʼlumotlarga ishlov berish. Maʼlumotlarni tayyorlash
# 11.28. Modul boʻyicha yakuniy amaliy vazifa

**Bu vazifalarni bajargach, maʼlumotlarni yuklash, tozalash, oʻzgartirish, matnlarni normalizatsiya qilish, qiymatlarni tekshirish, guruhlash va tahlil qilish kabi maʼlumotlarga ishlov berish (data processing) koʻnikmalarini egallaysiz.**

#**Umumiy maʼlumotlar bilan ishlash**

#Dataset haqida qisqacha maʼlumot
Restoran savdosi boʻyicha maʼlumotlar toʻplami 17 534 tranzaksiya uchun maʼlumotlarni oʻz ichiga oladi. Maʼlumotlar yetishmayotgan yoki baʼzilari toʻliq kiritilmagan boʻlishi mumkin. Maʼlumotlar toʻplamida asosiy taomlar, shirinliklar, ichimliklar kabi bir nechta toifadagi savdo tafsilotlari mavjud.


 0.   **Unnamed 0** – indekslarni;
 1.   **Order ID** – buyurtma IDʼsini;
 2.   **Customer ID** – mijoz IDʼsini;
 3.   **Category** – mahsulotlar kategoriyasini;
 4.   **Item** – mahsulot nomini;
 5.   **Price** – mahsulotning narxini;
 6.   **Quantity** – qancha mahsulot sotilgani miqdorini;
 7.   **Order Total** – umumiy narx qancha ekanini;
 8.   **Order Date** – buyurtma berilgan sanani (vaqt);
 9.   **Payment Method** – toʻlov usuli turini saqlaydi.

#1) Quyida berilgan datasetni yuklab olib, ustun nomlarini koʻring va ularni maʼno jihatdan tushunarli shaklga keltiring. `Unnamed: 0` ustunini tashlab yuboring!

In [103]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/restaurant_sales.csv"
df = pd.read_csv(url, index_col=0, parse_dates=["Order Date"])
df.sample(10)

,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
15773,ORD_498830,CUST_022,Desserts,Chocolate Cake,6.0,5.0,30.0,2022-02-01,Credit Card
800,ORD_932458,CUST_054,Desserts,CHOCOLATE CAKE#,6.0,5.0,30.0,2023-10-09,Cash
17406,ORD_240931,CUST_014,Starters,Beef Chili,7.0,5.0,35.0,2022-03-23,Cash
13322,ORD_163521,CUST_021,Starters,Nachos Grande,10.0,4.0,40.0,2022-10-19,Cash
9840,ORD_344846,CUST_094,Starters,French Fries,4.0,1.0,4.0,2023-05-14,Credit Card
9909,ORD_680390,CUST_085,Main Dishes,Salmon,18.0,2.0,36.0,2022-02-01,Digital Wallet
13810,ORD_491145,CUST_094,Starters,Cheese Fries,5.0,5.0,25.0,2023-04-01,Digital Wallet
5316,ORD_976474,CUST_098,Starters,French Fries,4.0,1.0,4.0,2022-01-31,Credit Card
12645,ORD_442481,CUST_057,Desserts,Fruit Salad,4.0,2.0,8.0,2023-03-16,NaN
15484,ORD_301889,CUST_075,Side Dishes,NaN,-1.0,3.0,15.0,2022-06-01,NaN

#2) Maʼlumotlarning umumiy holatini (info(), describe()) tekshiring.

In [40]:
#javobni shu yerda yozing
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17534 entries, 0 to 17533
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        17534 non-null  object
 1   Customer ID     17534 non-null  object
 2   Category        17498 non-null  object
 3   Item            15776 non-null  object
 4   Price           17534 non-null  float64
 5   Quantity        17104 non-null  float64
 6   Order Total     17104 non-null  float64
 7   Order Date      17534 non-null  datetime64[ns]
 8   Payment Method  16452 non-null  object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 1.3+ MB

In [41]:
df.describe()

              Price      Quantity   Order Total                     Order Date
count  17534.000000  17104.000000  17104.000000                          17534
mean       6.207312      3.014149     19.914494  2022-12-28 15:19:09.355538176
min       -1.000000      1.000000      1.000000            2022-01-01 00:00:00
25%        3.000000      2.000000      7.500000            2022-06-30 00:00:00
50%        5.000000      3.000000     15.000000            2022-12-25 00:00:00
75%        7.000000      4.000000     25.000000            2023-06-29 00:00:00
max       20.000000      5.000000    100.000000            2023-12-31 00:00:00
std        4.993782      1.414598     18.732549                            NaN

#3) Har bir ustundagi boʻsh qiymatlarni aniqlang va ularni toʻldirish strategiyasini ishlab chiqing.

In [42]:
df['Payment Method'].value_counts()

Payment Method
Credit Card       5504
Cash              5499
Digital Wallet    5449
Name: count, dtype: int64

In [104]:
#javobni shu yerda yozing
df.dropna(subset=["Category", "Item", "Payment Method"], inplace=True)  # Hamma NaNlarni o'chirishimdan maqsad bu ustunlarda qiymatlar har bitta mijoz uchun o'ziga xos bo'ladi
df.Quantity.fillna(method="ffill", inplace=True)
df["Order Total"].fillna(np.mean(df['Order Total']), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15221 entries, 1 to 17532
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        15221 non-null  object
 1   Customer ID     15221 non-null  object
 2   Category        15221 non-null  object
 3   Item            15221 non-null  object
 4   Price           15221 non-null  float64
 5   Quantity        15221 non-null  float64
 6   Order Total     15221 non-null  float64
 7   Order Date      15221 non-null  datetime64[ns]
 8   Payment Method  15221 non-null  object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 1.2+ MB

/tmp/ipykernel_7682/1420575793.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Quantity.fillna(method="ffill", inplace=True)
/tmp/ipykernel_7682/1420575793.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.Quantity.fillna(method="ffill", inplace=True)
/tmp/ipykernel_7682/1420575793.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Order Total"].fillna(np.mean(df['Order Total']), inplace=True)

#4) Har bir ustundagi takroriy qiymatlarni toping va ularga qanday oʻzgartirish kiritish kerakligini hal qiling.

In [105]:
df.head()

,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
1,ORD_338528,CUST_021,Side Dishes,Mashed Potatoes,4.0,3.0,12.0,2023-05-19,Digital Wallet
2,ORD_443849,CUST_029,Main Dishes,Grilled Chicken,15.0,4.0,60.0,2023-09-27,Credit Card
4,ORD_648269,CUST_031,Main Dishes,Pasta Alfredo,12.0,4.0,48.0,2022-05-15,Cash
5,ORD_381680,CUST_031,Main Dishes,Salmon,18.0,5.0,90.0,2022-07-20,Digital Wallet
6,ORD_270994,CUST_071,Side Dishes,Garlic Bread,4.0,5.0,20.0,2022-08-19,Credit Card

In [106]:
#javobni shu yerda yozing
df.duplicated().sum()     
# DataFrameda faqat Order Id bo'yicha bo'yicha takroriy qiymatlar bo'lishi tekshirilishi kerak, chunki Order Id har bir buyurtma uchun o'ziga xos bo'ladi.
# Qolgan ustunlarda qiymatlar takrorlangan bo'lsa ham, bu buyurtma uchun bir xil mahsulotlar yoki xizmatlar bo'lishi mumkin.

np.int64(0)

#5) Maʼlumotlar toʻplamidagi noto‘g‘ri maʼlumotlar (masalan, son turishi kerak bo‘lgan ustunda matn bo‘lsa) mavjudligini tekshiring va to‘g‘rilang.

In [107]:
#javobni shu yerda yozing   
# Umumiy qatorlar soni 15221 ta 
numeric_columns = ['Price', 'Quantity', 'Order Total'] 
for col in numeric_columns:
    df[col] = df[col].astype(str)

    df[col] = pd.to_numeric(df[col], errors="coerce")

for col in numeric_columns:
    
    num_na = df[col].isna().sum()
    if num_na>0:
        print(f"{col} ustunida {num_na} ta nan qiymatlar bor")

In [108]:
df["Quantity"].dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15221 entries, 1 to 17532
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        15221 non-null  object
 1   Customer ID     15221 non-null  object
 2   Category        15221 non-null  object
 3   Item            15221 non-null  object
 4   Price           15221 non-null  float64
 5   Quantity        15221 non-null  float64
 6   Order Total     15221 non-null  float64
 7   Order Date      15221 non-null  datetime64[ns]
 8   Payment Method  15221 non-null  object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 1.2+ MB

#6) Maʼlumotlar toʻplamidagi **katta/kichik harf** muammolari boʻlgan joylarni toping va bir xil formatga keltiring.

In [109]:
#javobni shu yerda yozing
str_columns = ["Customer ID", "Category", "Item", "Payment Method"]
df[str_columns] = df[str_columns].map(lambda x: x.lower() if isinstance(x, str) else x)

In [110]:
df[str_columns] = df[str_columns].map(lambda x:x.capitalize() if isinstance(x, str) else x)
df.sample(5)

,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
9463,ORD_711051,Cust_006,Side dishes,Mashed potatoes,4.0,1.0,4.0,2022-09-18,Credit card
11624,ORD_876828,Cust_093,Starters,Cheese fries,5.0,3.0,15.0,2022-04-14,Digital wallet
16945,ORD_630504,Cust_032,Starters,Chicken melt,8.0,3.0,24.0,2023-11-17,Cash
10905,ORD_863259,Cust_038,Drinks,Coca cola,2.5,2.0,5.0,2023-08-27,Credit card
4990,ORD_360395,Cust_025,Drinks,Coca cola,2.5,1.0,2.5,2023-06-12,Cash

#7) Maʼlumotlar turini oʻzgartirish.
 * Ustunlarning maʼlumot turlarini tekshiring. Notoʻgʻri turlarga ega boʻlgan ustunlarni toʻgʻri formatga oʻtkazing.
 * `order_date` yoki unga oʻxshash ustunni datetime formatiga oʻtkazing.

In [111]:
#javobni shu yerda yozing
df.info()

# order_date ustun dataframe birinchi chaqirilgan paytda o'tkazilgan

<class 'pandas.core.frame.DataFrame'>
Index: 15221 entries, 1 to 17532
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        15221 non-null  object
 1   Customer ID     15221 non-null  object
 2   Category        15221 non-null  object
 3   Item            15221 non-null  object
 4   Price           15221 non-null  float64
 5   Quantity        15221 non-null  float64
 6   Order Total     15221 non-null  float64
 7   Order Date      15221 non-null  datetime64[ns]
 8   Payment Method  15221 non-null  object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 1.2+ MB

#8) Mahsulot nomlarida noto‘g‘ri yoki nomaʼlum belgilar (?, NaN, #) mavjudligini tekshiring va ularni tuzating.

In [112]:
#javobni shu yerda yozing
for col in str_columns:

    n = df[col].str.contains("#").sum()
    print(n)

0
0
122
0

In [113]:
df["Item"] = df["Item"].str.replace("#","")

for col in str_columns:

    n = df[col].str.contains("#").sum()
    print(n)

0
0
0
0

#**Maʼlumotlarni filtrlash va qayta ishlash**

#9) Manfiy narx yoki 0 ga teng narx qiymatlarini toping va ularni qanday oʻzgartirish kerakligini hal qiling.

In [114]:
#javobni shu yerda yozing
n = 0
for a in df[numeric_columns].values.tolist():
    if a == 0:
        n+=1
print(n)

0

#10) Boʻsh toifalar (kategoriya) mavjudligini tekshiring va toʻgʻri kategoriya berish strategiyasini ishlab chiqing.

In [116]:
#javobni shu yerda yozing
df.Category.isnull().sum()
df['Category'].apply(lambda x: pd.isna(x) or x.strip() == '').sum()

np.int64(0)

#11) Bir xil, lekin turlicha yozilgan qiymatlar (Coffee, cofee, COFEE) mavjudligini tekshiring va tuzating.

In [55]:
#javobni shu yerda yozing
# str_columns = ["Customer ID", "Category", "Item", "Payment Method"]
# df[str_columns] = df[str_columns].map(lambda x: x.lower() if isinstance(x, str) else x)   oldingi cellda ishlatdim

#12) `Customer ID` yoki boshqa identifikatorlarning takrorlanishini tekshiring.

In [56]:
#javobni shu yerda yozing
ids =['Order ID']
for id in ids:
    num_dup = df[id].duplicated().sum()
    print(num_dup)

0

"Customer ID" ustunida qiymatlar takrorlanishi mumkin

In [57]:
n = 0
for a in df["Customer ID"]:
    if a=="Cust_021":
        n+=1
print(n)

163

#13) Mahsulotning ortiqcha taʼriflarini olib tashlang (Water (0.5), Water (1.0), Water → faqat Water qoldirish).

In [90]:
#javobni shu yerda yozing
df["Item"] = df["Item"].str.replace("(0.5)", "")
df["Item"] = df["Item"].str.replace("?", "")
df["Item"] = df["Item"].str.replace("(1.0)", "")
df.sample(5)

,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
12536,ORD_102708,Cust_020,Main dishes,Pasta alfredo,12.0,5.0,60.0,2023-06-25,Cash
10764,ORD_273388,Cust_100,Side dishes,Grilled vegetables,5.0,1.0,5.0,2023-08-03,Digital wallet
11904,ORD_186709,Cust_031,Side dishes,Grilled vegetables,5.0,2.0,10.0,2023-05-04,Credit card
9975,ORD_433027,Cust_002,Side dishes,Side salad,3.0,4.0,12.0,2023-06-23,Credit card
14263,ORD_341370,Cust_028,Side dishes,Mashed potatoes,4.0,5.0,20.0,2023-11-17,Credit card

#**Qayta ishlangan maʼlumotlar bilan tahlil**

#14) Eng koʻp sotilgan 5 ta mahsulotni aniqlang.

In [72]:
#javobni shu yerda yozing
items = df.Item.value_counts().index
n=0
topt5_items = []
for item in items:
    topt5_items.append(item)
    n+=1
    if n==5:
        break
print(topt5_items)

['Pasta alfredo', 'Side salad', 'Ice cream', 'Water ', 'French fries']

#15) Har bir mijoz oʻrtacha qancha pul sarflaganini hisoblang.

In [73]:
#javobni shu yerda yozing
df.groupby("Customer ID")["Order Total"].agg(lambda x: np.mean(x))

Customer ID
Cust_001    17.572848
Cust_002    19.719355
Cust_003    17.328571
Cust_004    20.354167
Cust_005    17.932143
              ...
Cust_096    18.949704
Cust_097    19.858896
Cust_098    19.838608
Cust_099    21.123288
Cust_100    17.557803
Name: Order Total, Length: 100, dtype: float64

#16) Mijozlarning qaysi kunlarda koʻproq xarid qilgani bo‘yicha tahlil qiling.

In [85]:
#javobni shu yerda yozing
df_gp = df.groupby("Order Date")["Customer ID"].nunique().sort_values(ascending=False)
df_gp.head(5)

Order Date
2022-04-02    31
2023-08-22    31
2023-05-28    30
2022-08-03    30
2023-11-25    29
Name: Customer ID, dtype: int64

#17) Narxi oʻrtacha narxdan ikki barobar yuqori boʻlgan mahsulotlarni toping.

In [62]:
#javobni shu yerda yozing
np.mean(df.Price)

np.float64(6.597299783194271)

In [63]:
df[df["Price"]==12.0]

,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
4,ORD_648269,Cust_031,Main dishes,Pasta alfredo,12.0,4.0,48.0,2022-05-15,Cash
29,ORD_647762,Cust_021,Main dishes,Pasta alfredo,12.0,1.0,12.0,2023-01-31,Credit card
38,ORD_893229,Cust_049,Main dishes,Pasta alfredo,12.0,2.0,24.0,2022-02-09,Cash
41,ORD_708630,Cust_081,Main dishes,Pasta alfredo,12.0,1.0,12.0,2023-07-21,Credit card
62,ORD_237978,Cust_007,Main dishes,Pasta alfredo,12.0,3.0,36.0,2022-12-07,Cash
...,...,...,...,...,...,...,...,...,...
17477,ORD_479200,Cust_019,Main dishes,Pasta alfredo,12.0,4.0,48.0,2022-12-31,Digital wallet
17501,ORD_283986,Cust_028,Main dishes,Pasta alfredo,12.0,5.0,60.0,2022-08-05,Credit card
17524,ORD_603601,Cust_083,Main dishes,Pasta alfredo,12.0,4.0,48.0,2022-11-08,Credit card
17525,ORD_326555,Cust_095,Main dishes,Pasta alfredo,12.0,3.0,36.0,2023-07-24,Digital wallet
17526,ORD_503140,Cust_094,Main dishes,Pasta alfredo,12.0,3.0,36.0,2023-04-10,Credit card

#18) Mahsulotlar kategoriyalari bo‘yicha tahlil qiling va eng ko‘p sotiladigan kategoriyalarni aniqlang.

In [91]:
#javobni shu yerda yozing
df.groupby("Item")['Customer ID'].nunique().sort_values(ascending=False)

Item
Beef chili            100
Brownie               100
Chocolate cake        100
Chicken melt          100
Grilled chicken       100
Grilled vegetables    100
French fries          100
Water                 100
Pasta alfredo         100
Orange juice          100
Mashed potatoes       100
Ice cream             100
Side salad            100
Steak                 100
Cheese fries           99
Cheesecake             99
Coca cola              99
Fruit salad            99
Sweet potato fries     99
Vegetarian platter     98
Salmon                 98
Lemonade               97
Onion rings            97
Garlic bread           95
Iced tea               93
Nachos grande          90
Water                  37
Lemonade                6
Name: Customer ID, dtype: int64

#19) Har bir mijozning oʻrtacha xarid miqdorini (`groupby("customer_id")`) hisoblang.

In [100]:
#javobni shu yerda yozing
df.groupby("Customer ID").agg("mean", numeric_only=True)

                Price  Quantity  Order Total
Customer ID
Cust_001     5.824503  2.966887    17.572848
Cust_002     6.241935  3.122581    19.719355
Cust_003     6.178571  2.957143    17.328571
Cust_004     6.336806  3.194444    20.354167
Cust_005     5.921429  2.921429    17.932143
...               ...       ...          ...
Cust_096     6.517751  3.029586    18.949704
Cust_097     6.512270  3.006135    19.858896
Cust_098     6.689873  3.037975    19.838608
Cust_099     6.938356  2.972603    21.123288
Cust_100     6.173410  2.872832    17.557803

[100 rows x 3 columns]

#20) Qanday omillar sotuv hajmiga ta’sir qiladi? Bu bo‘yicha umumiy xulosa chiqaring. Javobni quyida kommentariya sifatida yozing!

In [ ]:
#javobni shu yerda yozing
# 1) Sotuv hajmini oshirish uchun qaysi kunlarda mahsulotlar ko'p sotilishini aniqlash kerak
# 2) ko'p sotiladigan mahsulotlardan ko'proq keltirish kerak
# 3) Hafta oxiri (shanba-yakshanba) yoki bayram kunlari savdo kuchli bo‘ladi.